QWidget#mainWindow {
    background: transparent;
}

QLabel {
    border: none;
    background: url(:/res/images/default-bg.png) no-repeat;
    border-radius: 10px 10px 10px 10px;
}

QLCDNumber {
    border: none;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
    width: 230px;
    top: 220px;
}
